# Environnement virtuel
env/
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# Éditeurs
.vscode/
.idea/

# Fichiers temporaires de diagnostic
check_*.py